@charset "UTF-8";
/* CSS Document */

.body{
	background-color: rgba(30,29,29,1.00);
}

.primary_header{
	background-color: #250777;
}
.secondary_header{
	height: 0px;
	width: fluid;
	background:#3574EE;
	border: thick;
	border-radius: 6%;
	text-align: center;
	float:right;
	align-items: center;	
}
.navbar1{
	overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	height: 50px;
	
}
.navbar1 a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	animation-timing-function:linear;
}

.navbar1 a:hover {
    background: #ddd;
    color: black;
	font-size: 105%;
	border-radius: 10%;
	

}


.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.fluidimg{
	width: 100%;
	height: 100%;
	border-radius: 5%;
	
	
}

.fluidimg2{
	width: auto;
	height: auto;
	border-radius: 5%;
	
	
}

.fluidimg_sec2{
	width: 100%;
	height: auto;
	border-radius: 5%;
	flex-wrap:wrap;
	
}

.fluidimg_small_left{
	width: 100%;
	height: auto;
	border-radius: 10%;
	border-bottom-right-radius: 0%;
	border-top-right-radius: 0%;
	
}

.fluidimg_small_right{
	width: 100%;
	height: auto;
	border-radius: 10%;
	border-bottom-left-radius: 0%;
	border-top-left-radius: 0%;
	
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

/* Style for the button that triggers the dropdown */
.dropdown-button {
	/* background-color: #3498db;
	color: #fff;
	padding: 10px 20px; */
	cursor: pointer;
}

/* Style for the dropdown content (initially hidden) */
.dropdown-content {
	display: none;
	position: relative;
	background-color: #f1f1f1;
	min-width: 340px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 0;
	/* width: auto; */
}

/* Style for dropdown list items */
.dropdown-content a {
	color: #333;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color on hover for list items */
.dropdown-content a:hover {
	background-color: #ddd;
}
.a-val {
	display: block; /* Make the <a> element a block-level element */
	text-align: center; /* Center-align the text within the <a> element */

	color: white; /* Set the text color to white */
	 
}
/* Show the dropdown content when hovering over the dropdown button */
.dropdown:hover .dropdown-content {
	display: block;
}
.show {
    display: block;
}

.container{
    position: relative;
    text-align: center;
    background: none;
	z-index: 1;
}

.top-left{
	    position: relative;
    top: 60px;
    left: 16px;
}
.top-right{
	position: relative;
    top: 60px;
    right: 16px;
}
.center-post{
	position: relative;
    top: -520px;
    left: 240px;
}

.center-post-courseinfo{
	position: relative;
    top: 0px;
    left: 500px;
}

.center-post-getstart{
	position: relative;
    top: 0px;
    left: 600px;
} 

.logo-loc{
    position: relative;
    text-align: center;
    background: none;
	z-index: 1;
    top: 30px;
    left: 500px;
}
.transparent-image {
	/* filter: contrast(2.5); */
	opacity:  0.5; /* Change this value to adjust the transparency (0.5 means 50% opacity) */
}
.transparent-image2 {
	/* filter: contrast(2.5); */
	opacity:  1; /* Change this value to adjust the transparency (0.5 means 50% opacity) */
}
.box1 {
	position: relative; /* Absolute positioning for the child containers */
	width: 48%; /* Set the width of each container (adjust as needed) */
	padding: 20px; /* Add padding for spacing between text and container edges */
	border: 1px solid #ccc; /* Add a border for visual separation */
	background: rgba(136,131,131,1.00);
	opacity: 0.5;
}

/* Position the first container */
.box1:nth-child(1) {
	top: 60px; /* Specify the top position */
	left: 50px; /* Specify the left position */
}

/* Position the second container */
.box1:nth-child(2) {
	top:  20px; /* Specify the top position */
	left: 20px; /* Specify the left position */
}

.large-h1 {
	font-size: 66px; /* Adjust the font size as needed */
}

.large-h1-course {
	font-size: 66px; /* Adjust the font size as needed */
}

.header-h1 {
	font-size: 36px; /* Adjust the font size as needed */
}


/* Style for the code block container */
.code-container {
	background-color: #d2d2d2;
	padding: 10px;
	border: 5px solid #777575;
	border-radius: 10px;
	overflow-x: auto;
	text-align: left;
	width: 700px;
	height: 200px;
	position: relative; /* Set the position to relative */
	left: 10%; /* Move the center horizontally */
	top: 50%; /* Move the center vertically */
}

/* Style for the code */
.code {
            font-family: 'Courier New', monospace;
            font-size: 24px;
            color: #000000;
}

.img-container{
	background-color: #333;
	/* width: 100%; */
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	max-width: 100%;
	height: 500px; /* Adjust the height as needed */
	width: 1600px; /
}
.img-container2{
	background-color: #333;
	/* width: 100%; */
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	max-width: 100%;
	height: 1500px; /* Adjust the height as needed */
	width: 1600px; /
}

.sec2-container{
	background-color: #333;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.sec2-img{
		width: auto;
	height: auto;
	border-radius: 5%;
}

.sec3-container{
	background-color: #333;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}